.menu-password ul{
    list-style: none !important;
     color:black;
}
.menu a {
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    list-style: none !important;
}