<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
	<div class="container my-5">
	<h3> Add Article</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form th:action="@{/blog/addArticles}"
						th:object="${article}" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="title" class="col-form-label">Title</label> <input
									type="text" th:field="*{title}" class="form-control" id="title"
									placeholder="Title"> <span
									th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="slug" class="col-form-label">Slug</label> <input
									type="text" th:field="*{slug}" class="form-control" id="slug"
									placeholder="slug"> <span
									th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="summary" class="col-form-label">Summary</label> <input
									type="text" th:field="*{summary}" class="form-control" id="summary"
									placeholder="content"> <span
									th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"
									class="text-danger"></span>
							</div>
							<!--
							<div class="form-group col-md-8">
								<label for="published" class="col-form-label">published</label> <input
									type="text" th:field="*{published}" class="form-control" id="published"
									placeholder="published"> <span
									th:if="${#fields.hasErrors('published')}" th:errors="*{published}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="createdAt" class="col-form-label">createdAt</label> <input
									type="text" autocomplete="off" th:field="*{createdAt}" class="form-control" id="createdAt"
									placeholder="createdAt">
							</div>
							<div class="form-group col-md-8">
								<label for="updatedAt" class="col-form-label">updatedAt</label>
								<input type="text" autocomplete="off" th:field="*{updatedAt}" class="form-control" id="updatedAt"
									placeholder="updatedAt">
							</div> -->
							<div id="my-tag-list" class="tag-list"></div>

							<div class="form-group col-md-8">
								<select class="form-control"  id="category" th:field="*{categoryId}">
									<option value="0">select category</option>
									<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
								</select>
							</div>
							<div class="form-group col-md-8">
								<label for="content" class="col-form-label">Content</label>
								<textarea name="content" th:field="*{content}" id="content">

				                           </textarea>
							</div>
							<div class="form-group col-md-8">
								<input type="file" name="imageFile">
								<input type="submit" value="Upload">
							</div>
							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add a article">
							</div>
							</div>
					</form>
						</div>
				</div>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function() {
		// If using Bootstrap 2, be sure to include:
		// Tags.bootstrapVersion = "2";
		$("#my-tag-list").tags({
			tagData:["boilerplate", "tags"],
			suggestions:["basic", "suggestions"],
			excludeList:["not", "these", "words"]
		});
	});
</script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	ClassicEditor
			.create( document.querySelector( '#content' ) )
			.catch( error => {
		console.error( error );
	} );
</script>

 <script>
	 $( function() {
		 $( "#createdAt" ).datetimepicker({
			 dateFormat: 'yy-mm-dd'

		 });
		 $( "#updatedAt" ).datetimepicker({
			 dateFormat: 'yy-mm-dd'

		 });
	 } );
 </script>
</body>
<footer th:insert="fragments.html :: footer"></footer>
</html>