<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container my-2" >
    <div class="card con" style="height:700px;">

        <div class="card">
            <div class="card-body">
                <div  th:switch="${articles}" class="container my-5">
                    <p class="my-5">
                        <a href="/blog/form" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2"> Add Article</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No Articles yet!</h2>
                        <div th:case="*">
                            <div id="simpleList">
                            <div th:each="article : ${articles}" >
                                <div class="card con">
                                <article style="width: 80%;" class="col-md-8">
                                    <h2><a href="singlepost.html"th:text="${article.title}"></a></h2>

                                    <div class="row">
                                        <div class="group1 col-sm-6 col-md-6">
                                            <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                                            <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                                            <a href="#">Fire</a>, <a href="#">Mars</a>
                                        </div>
                                        <div class="group2 col-sm-6 col-md-6">
                                            <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                                            <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                                        </div>
                                    </div>
                                    <hr>

                                    <img src="http://placehold.it/600x300" class="img-responsive">

                                    <br />
                                    <div id="body">
                                        <p class="lead" th:text="${article.summary}"></p>
                                        <p class="lead" th:text="${article.content}"></p>
                                    </div>
                                    <p class="text-right">
                                        <a href="singlepost.html"  id="readmore" class="text-right">
                                            continue reading...
                                        </a>
                                    </p>
                                    <hr>
                                </article>
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

                <div>
                </div>
                </div></div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    // Simple list
    Sortable.create(simpleList, { /* options */ });

</script>

<script>
    $(function(){
        $('#readmore').click(function(){
            $('#body').animate({height:'100%'});
            $(this).hide();
            return false;
        });
    });
</script>
<footer th:insert="fragments.html :: footer"></footer>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</html>