<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container my-2" >
    <div class="card con" style="height:700px;">
        <p  th:text="${articles}">Article Detail </p>
        <p  th:text="${articles.title}">Article Detail </p>
        <p  th:text="${articles.slug}">Article Detail </p>
        <p  th:text="${articles.content}">Article Detail </p>
    </div>




 <!--  <form
         th:action="@{/blog/detail/{id}(id=${articles.id})}"
         th:object="${articles}" method="GET">

        <div class="row">
            <div class="form-group col-md-6">
                <label for="title" class="col-form-label">Title</label> <input
                    type="text" th:field="*{title}" class="form-control" id="title"
                    placeholder="title"> <span
                    th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="content" class="col-form-label">Content</label> <input
                    type="text" th:field="*{content}" class="form-control" id="content"
                    placeholder="content"> <span
                    th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="createdAt" class="col-form-label">createdAt</label> <input
                    type="datetime-local" th:field="*{createdAt}" class="form-control" id="createdAt"
                    placeholder="createdAt"> <span
                    th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="updatedAt" class="col-form-label">updatedAt</label> <input
                    type="datetime-local" th:field="*{updatedAt}" class="form-control" id="updatedAt"
                    placeholder="updatedAt"> <span
                    th:if="${#fields.hasErrors('updatedAt')}" th:errors="*{updatedAt}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="slug" class="col-form-label">slug</label> <input
                    type="text" th:field="*{slug}" class="form-control" id="slug"
                    placeholder="slug"> <span
                    th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="published" class="col-form-label">published</label> <input
                    type="text" th:field="*{published}" class="form-control" id="published"
                    placeholder="published"> <span
                    th:if="${#fields.hasErrors('published')}" th:errors="*{published}"
                    class="text-danger"></span>
            </div>
        </div>
    </form> -->

    <div>
    </div>
</div>
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</html>