<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/password.css">
<link rel="stylesheet" href="/css/profile.css">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav">

</header>
<div class="container bootstrap snippet">
	<div class="row">
		<div class="menu-password">
			<ul class="menu"><li><h4><a th:href="@{'/update/' + ${#authentication.name}}">User Settings</a></h4></li>
				<li><h4><a href="/settings/password/new">Change Password</a></h4></li>
			</ul>
		</div>
	</div>
	<div id="wrapper" class="pt-5">
		<!-- Main Section-->
		<div id="page-content-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="tab-content">
							<form method="POST"  th:action="@{/settings/password/new}" th:object="${userUpdate}">
								<div class="form-group mt-5">
									<label for="oldPassword">Please enter old password</label><br>
									<input type="password"  th:field="*{oldPassword}" id="oldPassword" class="form-control mt-2" placeholder="Old password">
									<div class="text-danger"></div>
								</div>

								<div class="form-group">
									<label for="newPassword">Enter new password</label><br>
									<input type="password" th:field="*{newPassword}" class="form-control" id="newPassword" placeholder="New Password">
								</div>

								<div class="form-group">
									<label for="confirmPassword">Confirm new password</label><br>
									<input type="password" th:field="*{verifyPassword}" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
									<div id="PassNotMatch" class="alert alert-danger col-5 px-2 py-2 mt-2 mr-auto d-none" role="alert">
										Passwords do not match!
									</div>
								</div>

								<div class="row mx-auto d-flex justify-content-end">
									<div class="column px-2">
										<button class="btn btn-lg btn-success" type="submit">Confirm</button>
									</div>
								</div>
							</form>
						</div>
							<div class="row mx-auto py-3">
								<a href="/index" class="btn btn-lg btn-secondary">Cancel</a>
							</div>
						</div>
					</div>
			</div>
		</div>
		<!-- End Main Section-->
	</div>
	<!-- End Wrapper -->
	<script src="${pageContext.request.contextPath}/js/dashboard/settings-scripts.js"></script>
	
</body>
</html>